<% provide('title', 'Home') %>
<!DOCTYPE html>     
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial </title>
  </head>
  <body>
    <h1>Welcome to the Rails Tutorial Sample App!</h1>
    <p>This is a sample application built with Ruby on Rails.</p>
  </body>
</html>
