<div class="center jumbotron">
  <h1>Welcome to Sample Page</h1>
  <h2>This is my HomePage</h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= image_tag("kitten.jpg", alt: "Cat Image", width: "600") %>
